<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org lang="ko">
            <header th:fragment="header" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div class="dropdown d-flex">
                        <a th:href="@{/}" class="nav-link px-2 link-dark">나의 중간 지점</a>
                        <a th:href="@{/}" class="nav-link px-2 link-secondary">혼자 구하기</a>
                        <a href="#" role="button" th:id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" class="nav-link px-2 link-secondary dropdown-toggle">같이 구하기</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">방 만들기</a></li>
                        <li><a class="dropdown-item" href="#">방 참여하기</a></li>
                    </ul>
                </div>
                <div class="col-md-3 text-end">
                    <button th:if="${uuid}  " th:type="button" class="btn btn-outline-primary me-2 share">공유하기</button>
                    <input class="shareMap" type="hidden" th:value="${uuid}">
                </div>
            </header>
</html>