<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org lang="ko">
            <header th:fragment="header" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div class="dropdown d-flex">
                        <a th:href="@{/}" class="nav-link px-2 link-dark">나의 중간 지점</a>
                </div>

                <!-- 혼자 만들었을때 공유하기 버튼 -->
                <div th:if="${alone}" class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-primary me-2 share">공유하기</button>
                    <input class="shareMap" type="hidden" th:value="${uuid}">
                </div>

                <!-- 방 만들었을때 장소 추가, 목록보기 버튼 -->
                <div th:if="${together}" class="col-md-3 text-end">
                    <input class="uuid" type="hidden" th:value="${uuid}">
                    <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#addLocationModal"  >장소 추가</button>
                    <button href="#userAddressList" data-bs-toggle="offcanvas" type="button" class="btn btn-outline-primary me-2">장소 목록보기</button>
                </div>

            </header>
</html>