<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/cover_layout}"
        class="h-100">

<th:block layout:fragment="script">

</th:block>

<th:block layout:fragment="css">
    <link th:href="@{/cover/coverHeader.css}" th:rel="stylesheet"/>
</th:block>
    <main class="px-3" layout:fragment="content">
        <h1 class="mb-5">친구들과 모일 장소를 구해보세요.</h1>
        <p class="mb-5 lead">우가다(우리의 가운데는 여기다)는 최대 10명의 인원들의 장소들의 좌표를 계산하여 효율적인 모임 장소를 제공해드립니다.</p>
        <a href="/alone" class="btn btn-lg btn-secondary fw-bold border-white bg-white">혼자 구하기</a>
        <a href="#" role="button" th:id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-lg btn-secondary fw-bold border-white bg-white dropdown-toggle">같이 구하기</a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">방 만들기</a></li>
            <li><a class="dropdown-item" href="#">방 참여하기</a></li>
        </ul>

    </main>
</html>