<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=6ab5803711118054a4d4ddd17c1cdf5f'"></script>
    <script th:if="${uuid}" th:src="@{/static/header/header.js}"></script>
    <script th:inline="javascript">
        $(()=>{
            const center = [[${center}]];
            const locationList = [[${locationList}]];
            const bounds = new kakao.maps.LatLngBounds();

            const container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
            const options = { //지도를 생성할 때 필요한 기본 옵션
                center: new kakao.maps.LatLng(center.Latitude, center.Longitude), //지도의 중심좌표.
                level: 3 //지도의 레벨(확대, 축소 정도)
            };
            const map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

            // 중심점 마커
            const centerMarker = new kakao.maps.Marker({
                map:map,
                position: new kakao.maps.LatLng(center.Latitude, center.Longitude),
                image: new kakao.maps.MarkerImage(`/static/icon/number/center.png`,new kakao.maps.Size(48,56))
            })

            // 유저의 장소들에 맵마커, 오버레이 찍어주는 이벤트
            locationList.forEach((loc, idx)=>{
                const locationMarker = new kakao.maps.Marker({
                    image: new kakao.maps.MarkerImage(`/static/icon/number/${idx+1}.png`,new kakao.maps.Size(64,64)),
                    map: map,
                    position: new kakao.maps.LatLng(loc.latitude, loc.longitude),
                })

                bounds.extend(new kakao.maps.LatLng(loc.latitude, loc.longitude))

                const locationOverlay = new kakao.maps.CustomOverlay({
                    position: new kakao.maps.LatLng(loc.latitude, loc.longitude),
                    content: `<div class ="label"><span class="left"></span><span class="center">${loc.userName}</span><span class="right"></span></div>`
                })
                locationOverlay.setMap(map)
                map.setBounds(bounds)
             })

        })
    </script>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/static/kakao/kakaoMap.css">
</th:block>

<body>
    <div layout:fragment="content">
        <div id="map" style="width:100%;height:800px;">
        </div>
    </div>
</body>
</html>