<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=6ab5803711118054a4d4ddd17c1cdf5f'"></script>
    <script th:src="@{/static/together/together.js}"></script>
    <!-- offcanvas(주소목록) 이벤트 -->
    <script th:src="@{/static/addressOffcanvas/offcanvas.js}"></script>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/static/kakao/kakaoMap.css">
</th:block>

<body>
    <div layout:fragment="content">
        <div id="map" style="width:100%;height:800px;">
        </div>
        <div class="modal fade" id="addLocationModal" tabindex="-1" aria-labelledby="addLocationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addLocationModalLabel">장소 추가하기</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="submit-location" method="post" action="/together/saveLocation">
                            <div class="row text-center justify-content-evenly person">
                                <div class="col-sm-4 themed-grid-col">
                                    <label>
                                        <input class="form-control user-name" type="text" placeholder="이름을 입력해 주세요." name="userName">
                                        <input hidden="hidden">
                                    </label>
                                </div>
                                <div class="col-sm-4 themed-grid-col">
                                    <span href="#locationListForm" data-bs-toggle="offcanvas" class="form-control input-location" th:text="'주소를 입력해 주세요.'"></span>
                                    <input class = "road-name" type="hidden" name="roadName">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary addLocation">추가하기</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 주소 입력 offcanvas -->
        <div class="offcanvas offcanvas-end overflow-auto" tabindex="-1" id="locationListForm" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header border-bottom">
                <label>
                    <input class="form-control search-location" type="text" placeholder="주소">
                </label>
                <a class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="search bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                    </svg>
                </a>
                <button type="button" class="btn-close hidecanvas" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="location-list list-group list-group-flush border-bottom scrollarea">
            </div>
        </div>

        <!-- 유저들이 입력한 주소 목록 offcanvas -->
        <div class="offcanvas offcanvas-end overflow-auto" tabindex="-1" id="userLocationList" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header border-bottom">
                <span>주소 목록</span>
            </div>
            <div class=" list-group list-group-flush border-bottom scrollarea user-location-list">
                <a th:each="location : ${locationList}" class="user-location list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between placename">
                        <strong class="mb-1" th:text="${location.getUserName()}"></strong>
                        <input type="hidden" th:value="${location.getId()}">
                        <button class="btn-close btn remove-location" type="button"></button>
                    </div>
                    <div class="col-10 mb-1 small" th:text="${location.getRoadName()}">

                    </div>
                </a>
            </div>
        </div>

    </div>
</body>
</html>